In [40]:
import mysql.connector

mydb = mysql.connector.connect(
  host="myfirstdb.cfzy1rhvscx0.us-east-1.rds.amazonaws.com",
  user="admin",
  passwd="123456789",
  database="MyFirstDB"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE dsti_student (name_of_student VARCHAR(255), surname VARCHAR(255))")

sql = "INSERT INTO dsti_student (name_of_student, surname) VALUES (%s, %s)"
val = ("Kuanysh", "Bakirov")

mycursor.execute(sql, val)

mydb.commit()

mycursor.execute("SELECT * FROM dsti_student")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Kuanysh', 'Bakirov')